.block-img 
{
    max-width: 348px;
}

.product-box-img img
{
    width: 100%;
    display: inline-block;
}

.tittle-area
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.tittle-area .tittle-box
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    line-height: 1.5;
    text-align: left;
}

.tittle-component .tittle
{
    color: #004587;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.tittle-area .subtittle
{
    display: block;
    width: 100%;
    font-size: 10px;
    font-family: 'Roboto';
    color: #444;
}

.manufacture h2
{
    color: #004587;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: .875rem;
    font-weight: 400;
    margin-top: 10px;
}

.divisor
{
    width: 100%;
    border-bottom: 1px solid #e3e3e4;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.row .box-prices
{
    padding-right: 20px;;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

.flag-promotion .flag-promotion-component
{
    text-align: center;
    margin-bottom: 5px;
    min-height: 22px;
}

.flag-promotion-component .box-promo
{
    background-color: #004587;
    color: #f4ca46;
    border-radius: 5px;
}

.box-prices .box-price-component
{
    color: #004587;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.box-price-component .price-text
{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto';
}

.row .box-button-add
{
    padding-top: 38px;
    display: flex;
}

.box-button-add .btn-add
{
    width: 90%;
}

.more-info
{
    margin-top: 1.2rem;
    width: 100%;
    padding: 20px;
    border: 1px solid #e3e3e4;
    border-radius: 10px;
    transition: all .3s ease;
    transition-delay: 0s;
}

.more-info .tittle-more-info
{
    font-size: 18px;
    color: #004587;
}

/** ########## Cart Layout ########## **/
.row .cart-container
{
    box-sizing: border-box;
}

.cart-title .page-title
{
    font-size: 1.85rem;
}

.row .cart-columns
{
    display: flex;
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #e9e9e9;
}

.cart-columns h3
{
    font-size: 14px;
    line-height: 16px;
}

.cart-content-list ul
{
    padding-left: 0;
}

h3 .text-center
{
    text-align: center;
}

.cart-left-column .cart-wrapper
{
    background-color: #f8f8f8;
    padding: 10px;
}

.row .cart-product-box 
{
    padding: 1rem 0;
}

div .product-qtty
{
    flex-direction: column;
    align-items: flex-start;
}

.product-qtty
{
    display: flex;
    justify-content: space-between;
    width: 105px;
}

div .product-qtty-box
{
    margin: auto 0;
    width: 105px;
    align-items: center;
    display: flex;
    flex-direction: row;
    border: 2px solid #e3e3e3;
    border-radius: 3px;
    justify-content: space-between;
    padding: 0 8px;
}

.qtty-icon-minus, .qtty-icon-plus
{
    width: 12px;
    font-size: 14px;
    cursor: pointer;
}

.product-qtty-box input
{
    width: 30px;
    height: 35px;
    border: none;
    text-align: center;
    background-color: #fff;
    color: #444;
}

input[type="number"]
{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

div .cart-left-column
{
    min-width: 336px;
    width: 100%;
    padding: 1px 1.6rem 2.4rem;
    transition: opacity .3s ease;
}

.cart-wrapper .summary-title
{
    margin: 2.4rem 0;
    font-size: 24px;
    text-align: center;
}

.cart-left-column .summary-details
{
    padding-left: 0;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #d8d8d8;
}

.summary-details .summary-detail
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: .4rem 0;
}

div .summary-total
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 1.6rem;
}

.cart-wrapper .summary-buy-btn
{
    margin-top: 24px;
    font-size: 16px;
}